image: Visual Studio 2017

environment:
  nodejs_version: "8.9.0"

platform:
  - x64

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install --no-progress

test_script:
  - yarn ng build --prod --aot --build-optimizer --vendor-chunk --no-progress
  - yarn lint

build: off

cache:
  - node_modules -> yarn.lock
  - "%LOCALAPPDATA%/Yarn"

branches:
  only:
  - master
